:root{
    --color-1: #159c09;
    --color-2: #D21404;
    --color-3:#000000;
    --color-4:#ffffff;
    --color-5:#666;
    --color-6:#ccc;
    --color-7: rgba(0,0,0,.7);
    --box-shadow:0.5rem 1 rem rgba(0,0,0,.1);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --color-1: #159c09;
    --color-2: #D21404;
    --color-3:#000000;
    --color-4:#ffffff;
    --color-5:#666;
    --color-6:#ccc;
    --color-7: rgba(0,0,0,.7);
    --box-shadow:0.5rem 1 rem rgba(0,0,0,.1);

}
* > img{
    user-select: none;
    pointer-events: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--color-4);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--color-1);
}
  body{

    margin: 0px;
    background-color: #fcfdfc;
       }
    
       .menu-btn{
        position: fixed;
        color:var(--color-1);
        font-size: 35px;
        cursor: pointer;
        margin: 20px;
        transition: 0.3s ease;
        width: 100%;
        padding: 10px;
        top: -20px;
        left: -20px;
      }                                
    .side-bar{
        background-color: #1b1a1b;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left:-250px;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        
    }
    header{
        background-color:var(--color-3);
        top: 0;
        padding-top: 15px;
    }
    header img{
        
        width: 100px;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 50%;
        margin-left: 70px;
    }
    .close-btn{
        position: absolute;
        color: white;
        margin: 10px;
        font-size: 23px;
        right: 0px;
        cursor: pointer;
    }
    .close-btn:hover{
        color: var(--color-1);
    }
    header h1{
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 18px;
        color: var(--color-1);
    }
    .menu{
        width: 100%;
        margin-top: 0px;
        background-color: #000000;
    }
    .menu .item{
        position: relative;
        cursor: pointer;
    }
    .menu .item a{
        color: white;
        font-size: 16px;
        display: block;
        padding: 5px 30px;
        line-height: 60px;
    }
    .menu .item a:hover{
        color: var(--color-1);
    }
    .item i{
        margin-right: 15px;
    }
    .item a .fa-angle-right{
        position: absolute;
        right: 0;
        margin: 20px;
        transition: 0.3s ease;
    }
    .item .sub-menu{
        background-color: #262627;
        display: none;
        padding-left: 40px;

    }
    .side-bar.active{
        left: 0;
    }
    
    .sub-menu a{
        padding-left: 40px;
    }
    .fa-circle-question{
              
        color: #fc4982;
    }
    .fa-desktop{
    color: #9c0992;
    }
    .fa-elementor{
    color: #316ff6;
    }
    .fa-book-open{
      color: #ebfd61;  
    }
    .fa-newspaper{
        color: rgb(110, 2, 2);
    }
    




@media(min-width:950px){
    
    .here{
        width: 100%;
        height: 20vh;
        padding: 1%;
        background-repeat: no-repeat;
        background-size: cover;
        font-size: 50px;
        text-align: center;
        color: white;
        margin: auto;
        margin-bottom: 5%;
    }
    .here img{
        width: 45%;
        height: 40vh;
        margin: auto;
        margin-bottom: 5%;
    }
    
    
    .inquiries{
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 10% 5%;
    }
    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5%;
    }
    .contact .text p{
        width: 80%;
        font-size: 16px;
        font-weight: light;
        margin-top: 0.2rem;
    
    }
    .contact .text h2{
        font-size: 32px;
    }
    .contact .break{
        display: flex;
        flex-direction:column;
        gap: 1rem;
    }
    .contact .break .break_1, .break_2{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
    }
    .contact .break .break_1 .break_0{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: left;
        justify-content: left;
        width: 50%;
    }
    .contact .break .break_1 .break_0 i{
        font-size: 40px;
        color: var(--color-1);
        align-items: left;
    }
    .contact .break .break_2 .break_0{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: left;
        justify-content: left;
        width: 50%;
        
    }
    .contact .break .break_2 .break_0 i{
        font-size: 40px;
        color: var(--color-1);
        align-items: left;
    }
     .social-links ul{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        list-style: none;
    }
    .social-links li  a{
      font-size: 24px;
      
      transition: o.3s ease var(--color-1);
    
    }
     .social-links li  a:hover{
        transform: translate(0, -10%);
    }
    .social-links .fa-facebook{
        color: #316ff6;
        background-color: white;
        border: none;
        border-radius: 50%;
    }
    .social-links .fa-twitter{
        color: #1da1f2;
    }
     .social-links .fa-instagram{
        color: #cd486b;
    }
     .social-links .fa-whatsapp{
        color: #25d366;
    }
     .social-links a:hover{
        color: var(--color-1);
    }
    
    .fill{
        width:100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 5%;
        
    }
    .fill .text{
        gap: 1rem;
    }
    .fill .text h2{
        font-size: 32px;
    }
    .fill .text p{
    width: 80%;
        font-size: 16px;
        font-weight: 100;
        margin-top: 0.2rem;}
    
      
        .fill .input{
            gap: 1rem;
            display: flex;
            flex-direction: column;
        }
        .fill .input h3{
            font-size: 15px;
            margin-bottom: 0.2rem;
            font-weight: 550;
        }
        .fill input{
            width: 80%;
            padding: 0.5rem;
            font-size: 12px;
            color: #b0afaf;
            border: 0.2px solid #666;
        }
        .fill input:hover{
            border: 1px solid var(--color-1);
            border-radius: 10px;
            
        }
        .fill .comment input{
            height: 15vh;
            
        }
    
        .fill .input .button a{
            border-radius: 30px;
            font-weight: 500;
            transition: all 0.3s ease;
            font-size: 14px;
            cursor: pointer;
            font-family: inherit;
            line-height: 1;
            color: var(--color-4);
            width: 50%;
            background-color: var(--color-1);
            margin-top: 0rem;
            padding: 12px 56px;
            
        }
        .fill .input .button a:hover{
            color: var(--color-4);
            background-color: var(--color-1);
        }
        .fill .input .button{
            margin-top: 1rem;
        }
    }
    @media(max-width:950px){
        
        .here{
            width: 100%;
            height: 20vh;
            padding: 1%;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 50px;
            text-align: center;
            color: white;
            margin: auto;
            margin-bottom: 5%;
        }
        .here img{
            width: 60%;
            height: 40vh;
            margin: auto;
            margin-bottom: 5%;
        }
        
        
        .inquiries{
            margin-top: 7%;
            display: flex;
            flex-direction: row;
            gap: 2rem;
            padding: 10% 5%;
        }
        .contact{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-top: 5%;
        }
        .contact .text p{
            width: 80%;
            font-size: 16px;
            font-weight: light;
            margin-top: 0.2rem;
        
        }
        .contact .text h2{
            font-size: 32px;
        }
        .contact .break{
            display: flex;
            flex-direction:column;
            gap: 1rem;
        }
        .contact .break .break_1, .break_2{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 100%;
        }
        .contact .break .break_1 .break_0{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: left;
            justify-content: left;
            width: 50%;
        }
        .contact .break .break_1 .break_0 i{
            font-size: 24px;
            color: var(--color-1);
            align-items: left;
        }
        .contact .break .break_2 .break_0{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: left;
            justify-content: left;
            width: 50%;
            
        }
        .contact .break .break_2 .break_0 i{
            font-size: 24px;
            color: var(--color-1);
            align-items: left;
        }
         .social-links{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 3%;
        }
        .social-links li  a{
          font-size: 20px;
          
          transition: o.3s ease var(--color-1);
        
        }
         .social-links li  a:hover{
            transform: translate(0, -10%);
        }
        .social-links .fa-facebook{
            color: #316ff6;
            background-color: white;
            border: none;
            border-radius: 50%;
        }
        .social-links .fa-twitter{
            color: #1da1f2;
        }
         .social-links .fa-instagram{
            color: #cd486b;
        }
         .social-links .fa-whatsapp{
            color: #25d366;
        }
         .social-links a:hover{
            color: var(--color-1);
        }
        
        .fill{
            width:100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-top: 5%;
            
        }
        .fill .text{
            gap: 1rem;
        }
        .fill .text h2{
            font-size: 32px;
        }
        .fill .text p{
        width: 80%;
            font-size: 16px;
            font-weight: 500;
            margin-top: 0.2rem;}
        
          
            .fill .input{
                gap: 1rem;
                display: flex;
                flex-direction: column;
            }
            .fill .input h3{
                font-size: 15px;
                margin-bottom: 0.2rem;
                font-weight: 550;
            }
            .fill input{
                width: 80%;
                padding: 0.5rem;
                font-size: 12px;
                color: #b0afaf;
                border: 0.2px solid #666;
            }
            .fill input:hover{
                border: 1px solid var(--color-1);
                border-radius: 10px;
                
            }
            .fill .comment input{
                height: 15vh;
                
            }
        
            .fill .input .button a{
                border-radius: 30px;
                font-weight: 500;
                transition: all 0.3s ease;
                font-size: 14px;
                cursor: pointer;
                font-family: inherit;
                line-height: 1;
                color: var(--color-4);
                width: 50%;
                background-color: var(--color-1);
                margin-top: 0rem;
                padding: 12px 56px;
                
            }
            .fill .input .button a:hover{
                color: var(--color-4);
                background-color: var(--color-1);
            }
            .fill .input .button{
                margin-top: 1rem;
            }
        }
        @media(max-width:750px){
        
            .here{
                width: 100%;
                height: 20vh;
                padding: 1%;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 50px;
                text-align: center;
                color: white;
                margin: auto;
                margin-bottom: 5%;
            }
            .here img{
                width: 60%;
                height: 40vh;
                margin: auto;
                margin-bottom: 5%;
            }
            
            
            .inquiries{
                margin-top: 20%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding: 10% 5%;
            }
            .contact{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                margin-top: 5%;
            }
            .contact .text p{
                width: 80%;
                font-size: 16px;
                font-weight: light;
                margin-top: 0.2rem;
            
            }
            .contact .text h2{
                font-size: 32px;
            }
            .contact .break{
                display: flex;
                flex-direction:column;
                gap: 1rem;
            }
            .contact .break .break_1, .break_2{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                width: 100%;
            }
            .contact .break .break_1 .break_0{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: left;
                justify-content: left;
                width: 50%;
            }
            .contact .break .break_1 .break_0 i{
                font-size: 24px;
                color: var(--color-1);
                align-items: left;
            }
            .contact .break .break_2 .break_0{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: left;
                justify-content: left;
                width: 50%;
                
            }
            .contact .break .break_2 .break_0 i{
                font-size: 24px;
                color: var(--color-1);
                align-items: left;
            }
    
             .social-links{
                margin-top: 15px;
                display: flex;
                flex-direction: row;
                gap: 3%;
            }
            .social-links li  a{
              font-size: 20px;
              
              transition: o.3s ease var(--color-1);
            
            }
             .social-links li  a:hover{
                transform: translate(0, -10%);
            }
            .social-links .fa-facebook{
                color: #316ff6;
                background-color: white;
                border: none;
                border-radius: 50%;
            }
            .social-links .fa-twitter{
                color: #1da1f2;
            }
             .social-links .fa-instagram{
                color: #cd486b;
            }
             .social-links .fa-whatsapp{
                color: #25d366;
            }
             .social-links a:hover{
                color: var(--color-1);
            }
            
            .fill{
                width:100%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                margin-top: 5%;
                
            }
            .fill .text{
                gap: 1rem;
            }
            .fill .text h2{
                font-size: 32px;
            }
            .fill .text p{
            width: 80%;
                font-size: 16px;
                font-weight: 500;
                margin-top: 0.2rem;}
            
              
                .fill .input{
                    gap: 1rem;
                    display: flex;
                    flex-direction: column;
                }
                .fill .input h3{
                    font-size: 15px;
                    margin-bottom: 0.2rem;
                    font-weight: 550;
                }
                .fill input{
                    width: 80%;
                    padding: 0.5rem;
                    font-size: 12px;
                    color: #b0afaf;
                    border: 0.2px solid #666;
                }
                .fill input:hover{
                    border: 1px solid var(--color-1);
                    border-radius: 10px;
                    
                }
                .fill .comment input{
                    height: 15vh;
                    
                }
            
                .fill .input .button a{
                    border-radius: 30px;
                    font-weight: 500;
                    transition: all 0.3s ease;
                    font-size: 14px;
                    cursor: pointer;
                    font-family: inherit;
                    line-height: 1;
                    color: var(--color-4);
                    width: 50%;
                    background-color: var(--color-1);
                    margin-top: 0rem;
                    padding: 12px 56px;
                    
                }
                .fill .input .button a:hover{
                    color: var(--color-4);
                    background-color: var(--color-1);
                }
                .fill .input .button{
                    margin-top: 1rem;
                }
            }
            @media(max-width:480px){
        
                .here{
                    width: 100%;
                    height: 20vh;
                    padding: 1%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    font-size: 50px;
                    text-align: center;
                    color: white;
                    margin: auto;
                    margin-bottom: 5%;
                }
                .here img{
                    width: 80%;
                    height: 40vh;
                    margin: auto;
                    margin-bottom: 5%;
                }
                
                
                .inquiries{
                    margin-top: 30%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 10% 5%;
                }
                .contact{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    margin-top: 5%;
                    
                }
                .contact .text p{
                    width: 80%;
                    font-size: 16px;
                    font-weight: light;
                    margin-top: 0.2rem;
                
                }
                .contact .text h2{
                    font-size: 32px;
                }
                .contact .break{
                    display: flex;
                    flex-direction:column;
                    gap: 1rem;
                }
                .contact .break .break_1, .break_2{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    width: 100%;
                }
                .contact .break .break_1 .break_0{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: left;
                    justify-content: left;
                    width: 50%;
                }
                .contact .break .break_1 .break_0 i{
                    font-size: 24px;
                    color: var(--color-1);
                    align-items: left;
                }
                .contact .break .break_2 .break_0{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: left;
                    justify-content: left;
                    width: 50%;
                    
                }
                .contact .break .break_2 .break_0 i{
                    font-size: 24px;
                    color: var(--color-1);
                    align-items: left;
                }
                 .social-link{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    gap: 3%;
                }
                .social-link  li  a{
                  font-size: 20px;
                  
                  transition: o.3s ease var(--color-1);
                
                }
                 .social-link  li  a:hover{
                    transform: translate(0, -10%);
                }
                .social-link .fa-facebook{
                    color: #316ff6;
                    background-color: white;
                    border: none;
                    border-radius: 50%;
                }
                .social-link .fa-twitter{
                    color: #1da1f2;
                }
                 .social-link .fa-instagram{
                    color: #cd486b;
                }
                 .social-link .fa-whatsapp{
                    color: #25d366;
                }
                 .social-link a:hover{
                    color: var(--color-1);
                }
                
                .fill{
                    width:100%;
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    margin-top: 5%;
                    margin: auto;
                    
                    
                }
                .fill .text{
                    gap: 1rem;
                }
                .fill .text h2{
                    font-size: 32px;
                }
                .fill .text p{
                width: 80%;
                    font-size: 16px;
                    font-weight: 500;
                    margin-top: 0.2rem;}
                
                  
                    .fill .input{
                        gap: 1rem;
                        display: flex;
                        flex-direction: column;
                    }
                    .fill .input h3{
                        font-size: 15px;
                        margin-bottom: 0.2rem;
                        font-weight: 550;
                    }
                    .fill input{
                        width: 90%;
                        padding: 0.5rem;
                        font-size: 12px;
                        color: #b0afaf;
                        border: 0.2px solid #666;
                    }
                    .fill input:hover{
                        border: 1px solid var(--color-1);
                        border-radius: 10px;
                        
                    }
                    .fill .comment input{
                        height: 15vh;
                        
                    }
                
                    .fill .input .button a{
                        border-radius: 30px;
                        font-weight: 500;
                        transition: all 0.3s ease;
                        font-size: 14px;
                        cursor: pointer;
                        font-family: inherit;
                        line-height: 1;
                        color: var(--color-4);
                        width: 50%;
                        background-color: var(--color-1);
                        margin-top: 0rem;
                        padding: 12px 56px;
                        
                    }
                    .fill .input .button a:hover{
                        color: var(--color-4);
                        background-color: var(--color-1);
                    }
                    .fill .input .button{
                        margin-top: 1rem;
                    }
                }
                .footer{
                    padding:  2rem 5rem;
                    margin-top: -2rem;
                    display: flex;
                    flex-direction: row;
                   color: var(--color-4);
                   gap: 1rem;
                   background-color:#233b20;
                   
                
                }
               
                .footer .caps .phase{
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                
                }
                .caps{
                    width: 100%;
                }
                .caps p{
                  width: 90%;
                  margin-top: 2%;
                  font-size: 16px;
                  font-weight: light;
                  color: rgb(249, 247, 247);
                  margin-left: -0.5%;
                }
                
                .about,.categories,.contac{
                    display: flex;
                    flex-direction: column;
                    gap: 5%;
                    width: 45%;
                    text-align: left;
                    margin-bottom: 2rem;
                }
                .contac{
                   
                    display: flex;
                    flex-direction: column;
                    gap: 6%;
                    width: 45%;
                    text-align: left;
                    margin-bottom: 2rem;
                
                }
                .footer .social-links ul{
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    gap: 1.5rem;
                }
                .footer .social-links li  a{
                  font-size: 20px;
                  
                  transition: 0.3s ease var(--color-1);
                
                }
                
                 .fa-facebook{
                    color: #316ff6;
                    border-radius: 50%;
                }
                .footer .social-links .fa-twitter{
                    color: #1da1f2;
                }
                .footer .social-links .fa-instagram{
                    color: #cd486b;
                }
                .footer .social-links .fa-whatsapp{
                    color: #25d366;
                }
                 .social-links a:hover{
                    color: var(--color-1);
                }
                
                .about ul li{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                font-size: 15px;
                }
                .categories ul li{
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    font-size: 15px;
                    }
                    .contac ul li{
                        display: flex;
                        flex-direction: column;
                        margin-top: 5%;
                        font-size: 15px;
                        }
                
                
                
                .footer-item{
                    width: 30%;
                
                    
                }
                
                .footer .row{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2rem;
                }
            
  /*  @media(min-width:650px){
        .footer{
            padding: 7%  5%;
            background-image: url('../images/homepage.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
            margin-top: -1%;
            display: flex;
            flex-direction: row;
           color: white;
           gap: 15%;
        
        }
        
        .footer::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-7);
            z-index: -1;
        }
        .footer .container .phase{
            display: flex;
            flex-direction: row;
            gap: 1%;
        
        }
        .container{
            width: 35%;
        }
        .container p{
          width: 100%;
          margin-top: 2%;
          font-size: 16px;
          font-weight: light;
          color: white;
          margin-left: -0.5%;
        }
        .phase img{
            width: 10%;
            height: 5vh;
        }
        .about,.categories,.contac{
            display: flex;
            flex-direction: column;
            gap: 5%;
            width: 10%;
            text-align: left;
        }
        .contac{
            width: 25%;
        }
        .footer .social-links{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 5%;
        }
        .footer .social-links li  a{
          font-size: 20px;
          
          transition: o.3s ease var(--color-1);
        
        }
        .footer .social-links li  a:hover{
            transform: translate(0, -10%);
        }
        .footer .social-links .fa-facebook{
            color: #316ff6;
            border: none;
            border-radius: 50%;
        }
        .footer .social-links .fa-twitter{
            color: #1da1f2;
        }
        .footer .social-links .fa-instagram{
            color: #cd486b;
        }
        .footer .social-links .fa-whatsapp{
            color: #25d366;
        }
         .social-links a:hover{
            color: var(--color-1);
        }
        
        .about ul li{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        font-size: 15px;
        }
        .categories ul li{
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            font-size: 15px;
            }
            .contac ul li{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                font-size: 15px;
                }
        
        
        
        .footer-item{
            width: 30%;
        
            
        }
        
        .footer .row{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        
        
        @media(max-width:600px){
        .footer-item{
        width: 100%;
        }
        }
        
    }
    @media(max-width:650px){
        .footer{
            padding: 7%  5%;
            background-image: url('../images/homepage.jpg');
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            position: relative;
            z-index: 1;
            margin-top: -1%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
           color: white;
           gap: 15%;
        
        }
        
        .footer::before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: var(--color-7);
            z-index: -1;
        }
        .footer .container .phase{
            display: flex;
            flex-direction: row;
            gap: 1%;
        
        }
        .container{
            width: 90%;
           
        }
        .container p{
          width: 100%;
          margin-top: 2%;
          font-size: 16px;
          font-weight: light;
          color: white;
          margin-left: -0.5%;
        }
        .phase img{
            width: 10%;
            height: 5vh;
        }
        .about,.categories,.contac{
            display: flex;
            flex-direction: column;
            gap: 5%;
            width: 45%;
            text-align: left;
            margin-bottom: 7%;
            margin-top: 7%;
        }
        .contac{
            width: 25%;
        }
        .footer .social-links{
            margin-top: 15px;
            display: flex;
            flex-direction: row;
            gap: 8%;
        }
        .footer .social-links li  a{
          font-size: 20px;
          
          transition: o.3s ease var(--color-1);
        
        }
        .footer .social-links li  a:hover{
            transform: translate(0, -10%);
        }
        .footer .social-links .fa-facebook{
            color: #316ff6;
            border: none;
            border-radius: 50%;
        }
        .footer .social-links .fa-twitter{
            color: #1da1f2;
        }
        .footer .social-links .fa-instagram{
            color: #cd486b;
        }
        .footer .social-links .fa-whatsapp{
            color: #25d366;
        }
         .social-links a:hover{
            color: var(--color-1);
        }
        
        .about ul li{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        font-size: 15px;
        }
        .categories ul li{
            display: flex;
            flex-direction: column;
            margin-top: 5%;
            font-size: 15px;
            }
            .contac ul li{
                display: flex;
                flex-direction: column;
                margin-top: 5%;
                font-size: 15px;
                }
        
        
        
        .footer-item{
            width: 30%;
        
            
        }
        
        .footer .row{
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
        }
        
        
        @media(max-width:600px){
        .footer-item{
        width: 100%;
        }
        }
        
    }
      */