*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,.62,1.08);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
:root{
    --color-1: #159c09;
    --color-2: #c9e4ca;
    --color-3:#333;
    --color-4:#ffffff;
    --color-5:#333;
    --color-6:#0a7300;
    --color-7: rgba(0,0,0,.7);
    --color-8:#f2f2f2;
    --color-9:#ffc107;
    --box-shadow:0.5rem 1 rem rgba(0,0,0,.1);

}

* > img{
    user-select: none;
    pointer-events: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--color-4);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--color-1);
}
  body{

    margin: 0px;
    background-color: #fcfdfc;
       }
    


                                            /*navbar menu*/
      .menu-btn{
        position: fixed;
        color:var(--color-1);
        font-size: 35px;
        cursor: pointer;
        margin: 20px;
        transition: 0.3s ease;
        width: 100%;
        padding: 10px;
        top: -20px;
        left: -20px;
      }                                
    .side-bar{
        background-color: #1b1a1b;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left:-250px;
        overflow-y: auto;
        transition: 0.6s ease;
        transition-property: left;
        
    }
    header{
        background-color:#1b1a1b;
        top: 0;
        padding-top: 15px;
    }
    header img{
        
        width: 100px;
        margin-top: 30px;
        margin-bottom: 15px;
        border-radius: 50%;
    
        margin-left: 70px;
    }
    .close-btn{
        position: absolute;
        color: white;
        margin: 10px;
        font-size: 23px;
        right: 0px;
        cursor: pointer;
    }
    .close-btn:hover{
        color: var(--color-1);
    }
    header h1{
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        padding-bottom: 18px;
        color: var(--color-1);
    }
    .menu{
        width: 100%;
        margin-top: 0px;
        background-color: #1b1a1b;
    }
    .menu .item{
        position: relative;
        cursor: pointer;
    }
    .menu .item a{
        color: white;
        font-size: 16px;
        display: block;
        padding: 5px 30px;
        line-height: 60px;
    }
    .menu .item a:hover{
        color: var(--color-1);
    }
    .item i{
        margin-right: 15px;
    }
    .item a .fa-angle-right{
        position: absolute;
        right: 0;
        margin: 20px;
        transition: 0.3s ease;
    }
    .item .sub-menu{
        background-color: #262627;
        display: none;
        padding-left: 40px;

    }
    .side-bar.active{
        left: 0;
    }
    
    .sub-menu a{
        padding-left: 40px;
    }
    .fa-circle-question{
              
        color: #fc4982;
    }
    .fa-desktop{
    color: #9c0992;
    }
    .fa-elementor{
    color: #316ff6;
    }
    .fa-book-open{
      color: #ebfd61;  
    }
    .fa-newspaper{
        color: rgb(110, 2, 2);
    }
    




.vacation{
    text-align: center;
    margin-top: 5rem;
    gap: 1rem;
}
.vacation h2{
    font-size: 48px;
}

.vacation p{
width: 80%;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 1rem;
font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

}

.garden{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: auto;
    width: 90%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;

}
.garden img{
    height: 350px;
    width: 400px;
    border-radius: 10px;
}
.garden .text h2{
    font-size: 28px;
    color: var(--color-1);
}
.garden .text{
  flex-basis: 50%;
  text-align: left;
}
.garden .text p{
    margin-top: 1rem;
    font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

}

.educatio{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: auto;
    width: 90%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}
.educatio img{
    height: 350px;
    width: 400px;
    border-radius: 10px;
}
.educatio .text{
  flex-basis: 50%;
  gap: 1rem;
  text-align: left;
}
.educatio .text p{
    margin-top: 1rem;
    font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

}
.educatio .text h2{
    font-size: 28px;
    color: var(--color-1);
}

.exercise{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    margin: auto;
    width: 90%;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}
.exercise img{
    height: 350px;
    width: 400px;
    border-radius: 10px;
}
.exercise .text{
  flex-basis: 50%;
  gap: 1rem;
  text-align: left;

}
.exercise .text p{
    margin-top: 1rem;
    font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

}
.exercise .text h2{
    font-size: 28px;
    color: var(--color-1);
}
.school{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 5rem;
}
.school h2{
    text-align: center;
    font-size: 35px;
}
.x{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    margin: auto;
    width: 96%;
}
.one img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
}
@media(max-width:1000px){
    .garden{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    
    }
    .garden img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .garden .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    .garden .text{
      flex-basis: 50%;
      text-align: left;
    }
    .garden .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    
    .educatio{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .educatio img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .educatio .text{
      flex-basis: 50%;
      gap: 1rem;
      text-align: left;
    }
    .educatio .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .educatio .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    
    .exercise{
        display: flex;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .exercise img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .exercise .text{
      flex-basis: 50%;
      gap: 1rem;
      text-align: left;
    
    }
    .exercise .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .exercise .text h2{
        font-size: 28px;
        color: var(--color-1);
    } 
}
@media(max-width:850px){
    .garden{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    
    }
    .garden img{
        height: 350px;
        width: 500px;
        border-radius: 10px;
    }
    .garden .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    .garden .text{
      flex-basis: 90%;
      text-align: left;
    }
    .garden .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       
}
    }
    
    .educatio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .educatio img{
        height: 350px;
        width: 500px;
        border-radius: 10px;
    }
    .educatio .text{
      flex-basis: 90%;
      gap: 1rem;
      text-align: left;
    }
    .educatio .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .educatio .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    
    .exercise{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .exercise img{
        height: 350px;
        width: 500px;
        border-radius: 10px;
    }
    .exercise .text{
      flex-basis: 90%;
      gap: 1rem;
      text-align: left;
    
    }
    .exercise .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .exercise .text h2{
        font-size: 28px;
        color: var(--color-1);
    } 

@media(max-width:550px){
    .garden{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    
    }
    .garden img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .garden .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    .garden .text{
      flex-basis: 90%;
      text-align: left;
    }
    .garden .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    
    .educatio{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .educatio img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .educatio .text{
      flex-basis: 90%;
      gap: 1rem;
      text-align: left;
    }
    .educatio .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .educatio .text h2{
        font-size: 28px;
        color: var(--color-1);
    }
    
    .exercise{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
        align-items: center;
        justify-content: center;
    }
    .exercise img{
        height: 350px;
        width: 400px;
        border-radius: 10px;
    }
    .exercise .text{
      flex-basis: 90%;
      gap: 1rem;
      text-align: left;
    
    }
    .exercise .text p{
        margin-top: 1rem;
        font-size: 16px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .exercise .text h2{
        font-size: 28px;
        color: var(--color-1);
    } 
}
@media(max-width:480px){
    .vacation h2{
        font-size: 35px;
    }
    
    .vacation p{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 15px;

       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }  
    .garden{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        
        width: 90%;
        margin-top: 5rem auto;
    }
    .garden img{
        height: 350px;
        width: 260px;
        border-radius: 10px;
        margin: auto;
    }
    .garden .text h2{
        font-size: 24px;
        color: var(--color-1);
    }
    .garden .text{
      flex-basis: 100%;
      margin-top: 1rem;
      text-align: left;
      font-size: 15px;

       
        line-height: 1.5;
        letter-spacing: 0.5px;
       
}
    }
    .educatio{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
    }
    .educatio img{
        height: 350px;
        width: 260px;
        border-radius: 10px;
    }
    .educatio .text{
      flex-basis: 100%;
      gap: 1rem;
      margin-top: 1rem;
      text-align: left;
      font-size: 15px;
    }
    .educatio .text p{
        margin-top: 1rem;
        font-size: 15px;
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       

    }
    .educatio .text h2{
        font-size: 24px;
        color: var(--color-1);
    }
    
    .exercise{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: auto;
        width: 90%;
        margin-top: 5rem;
    }
    .exercise img{
        height: 350px;
        width: 260px;
        border-radius: 10px;
    }
    .exercise .text{
      flex-basis: 96%;
      gap: 1rem;
      margin-top: 1rem;
      text-align: left;
    }
    .exercise .text p{
        margin-top: 1rem;
        font-size: 15px;
        
       
        line-height: 1.5;
        letter-spacing: 0.5px;
       
}
    
    .exercise .text h2{
        font-size: 24px;
        color: var(--color-1);
    }
    .school{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: auto;
        margin-top: 7rem;
        
    }
    .school h2{
        text-align: center;
        font-size: 30px;
    }
    .one{
        text-align: center;
    }
    .x{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 2rem;
        margin: auto;
        width: 96%;
        align-items: center;
        justify-content: center;
    }
    .one img{
        width: 260px;
        height: 300px;
        border-radius: 10px;
        margin: auto;
    }

.footer{
    padding:  2rem 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
   color: var(--color-4);
   gap: 1rem;
   background-color:#233b20;
   

}

.footer .caps .phase{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}
.caps{
    width: 100%;
}
.caps p{
  width: 90%;
  margin-top: 2%;
  font-size: 16px;
  font-weight: light;
  color: rgb(249, 247, 247);
  margin-left: -0.5%;
}

.about,.categories,.contact{
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 45%;
    text-align: left;
    margin-bottom: 2rem;
}
.contact{
   
    display: flex;
    flex-direction: column;
    gap: 6%;
    width: 45%;
    text-align: left;
    margin-bottom: 2rem;

}
.footer .social-links ul{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.footer .social-links li  a{
  font-size: 20px;
  
  transition: 0.3s ease var(--color-1);

}

 .fa-facebook{
    color: #316ff6;
    border-radius: 50%;
}
.footer .social-links .fa-twitter{
    color: #1da1f2;
}
.footer .social-links .fa-instagram{
    color: #cd486b;
}
.footer .social-links .fa-whatsapp{
    color: #25d366;
}
 .social-links a:hover{
    color: var(--color-1);
}

.about ul li{
display: flex;
flex-direction: column;
margin-top: 5%;
font-size: 15px;
}
.categories ul li{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    font-size: 15px;
    }
    .contact ul li{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        font-size: 15px;
        }



.footer-item{
    width: 30%;

    
}

.footer .row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
@media(max-width:900px){
    .footer{
        padding:  4rem 2rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       color: var(--color-4);
       gap: 2rem;
       background-color:#233b20;
       text-align: justify;
    }
}
@media(max-width:480px){
    .footer{
        padding:  3rem 2rem;
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       color: var(--color-4);
       gap: 2rem;
       background-color:#233b20;
       text-align: justify;
       
    
    }
    
}

html{
    scroll-behavior: smooth;
   }